extends ../layout

block content
    h1 Buscar Estudiante        

    div
        center
            p
                input(type="text", name="datoBuscar", placeholder="Dato a buscar", id="datoBuscar")
                button(id="buscar") Buscar
        table(border="1")
            thead
                th Nombre
                th Apellido Paterno
                th Apellido Materno
                
            tbody(id="tabla")


    script(src="/javascripts/jquery.js")
    script(src="/javascripts/funciones.js")